.clients {
    @include padding-section ();
}

.clients__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
}

.clients__item {

    @media screen and (max-width: 767.98px) {
    flex-basis: calc((100% - 4*15px) / 2);
    margin: 15px;
    }

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6*15px) / 3);
    margin: 15px;
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12*15px) / 6);
    margin: 15px;
    flex-wrap: nowrap;
    }
}

.clients__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border-radius: 4px;

    fill: getColor('clients-logo');
    border: 1px solid getColor('clients-logo');

    @include transition-base(fill, border);

    &:hover,
    &:focus {
        border: 1px solid getColor('accent');
        fill: getColor('accent');
    }

        @media screen and (min-width: 768px) {
            width: 226px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }