.logo {
    text-decoration: none;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: getColor('accent');

    @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.2;
        }
}

.page-header__logo {
    color: getColor('black');
}

.page-footer__logo {
    color: getColor('white');
}