.contacts-list {
    @extend %list;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
            gap: 50px;
        }
}

.contacts-list__phone {
    @extend %link;
    display: inline-block;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: getColor('accent');

    @media screen and (min-width: 380px) {
        font-size: 34px;
        line-height: 1.17;
    }

    @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.16;

        color: getColor('primary-text');
        fill: getColor('primary-text');
        
        @include transition-base(color, fill);
        
            &:hover,
            &:focus {
                color: getColor('accent');
                fill: getColor('accent');
                outline: none;
            }
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts-list__mail {
    @extend %link;
    display: inline-block;
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: getColor('primary-text');

    &:hover,
        &:focus {
            color: getColor('accent');
            outline: none;
        }

    @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
        
    fill: getColor('primary-text');
        
    @include transition-base(color, fill);
        
        &:hover,
        &:focus {
            fill: getColor('accent');
        }
    }
        
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        margin: 0;
    }
}

.contacts-list__icon {
    display: none;

    @media screen and (min-width: 768px){
        display: block;
        margin-right: 10px;
        }
    }
