.page-header {
    border-bottom: 1px solid getColor('header-line');
}

.page-header__container {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding: 0;
    }
}

.page-header__nav {
    display: flex;
    align-items: center;
}

