@mixin transition-base ($properties...) {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @if length($properties)>0 {
        transition-property: $properties;
    }
}

@mixin padding-section ($top: 60px, $bottom: 60px){
    padding-top: $top;
    padding-bottom: $bottom;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

@mixin no-padding ()
    {
        @media screen and (min-width: 1200px) {
            padding-top: 0px;
            padding-bottom: 94px;
        }
    }

    

