.address {
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: getColor('white');
}

.address__list {
    @extend %list;
    margin-top: 9px;
}

.address__item:not(:first-child) {
    margin-top: 9px;
}

.address__link {
    @extend %link;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: getColor('footer-contacts');

    @include transition-base(color);

    &:hover,
    &:focus {
        color: getColor('accent');
        outline: none;
    }
}